#mainContainer {
    height: 1100px;
    margin: 10px;
}

#heatmapContainer {
    border-radius: 25px;
    padding: 0px;
    /*height: 50%; */
}

#picContainer {
    padding: 0px;
}

#canvasContainer {
    height: 1000px;
}

#toolboxContainer {
    height: 100%;
    border-right: 2px double #CCC;
}

#mdsBody {
    padding-left: 0px;
    padding-right: 0px;
}

#mapViewBody {
    padding: 5px;
}

.dotPath_checkin {
    fill: #d73027;
    stroke: #d73027;
    stroke-width: 2px;
}

.axis text {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

#picCanvas4 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.btn-group.bootstrap-select.navbar-form{
    margin: 0px;
}

#listTable{
    position:absolute; top:50%; height:10em; margin-top:-5em
}
.datamap-icon-1{
    fill: #ea0001;
    stroke-width: 0;
    opacity: 0.3;
    r: 5;
}
.datamap-icon-2{
    fill: #fa9924;
    stroke-width: 0;
    opacity: 0.3;
    r: 5;
}
.datamap-icon-3{
    fill: #feC923;
    stroke-width: 0;
    opacity: 0.3;
    r: 5;
}
.datamap-icon-4{
    fill: #92d14f;
    stroke-width: 0;
    opacity: 0.3;
    r: 5;
}
.datamap-icon-5{
    fill: #00602b;
    stroke-width: 0;
    opacity: 0.3;
    r: 5;
}
.datamap-hide{
    opacity: 0
}