<template name="mainview">
    <div class="col-md-12" id="canvasContainer">
        <div class="row">
            <div id="middleContainer" class="col-md-12" >
                <div class="panel panel-default">
                    <div class="panel-heading">Bipartite Graph View             
                    </div>
                    <div id="middleContainerBody" class="panel-body" style="overflow-y: scroll;">
                        <div class="col-md-12">
                            <div class="btn-group col-md-12" data-toggle="buttons">
                                <div class="col-md-2" style="text-align:right;">
                                    <label>Filter By Score:</label>
                                </div>
                                <label class="col-md-2 btn btn-default" id="score_one">
                                    <input type="checkbox" autocomplete="off"> 1
                                </label>
                                <label class="btn btn-default col-md-2" id="score_two">
                                    <input type="checkbox" autocomplete="off"> 2
                                </label>
                                <label class="btn btn-default col-md-2" id="score_three">
                                    <input type="checkbox" autocomplete="off"> 3
                                </label>
                                <label class="btn btn-default col-md-2" id="score_four">
                                    <input type="checkbox" autocomplete="off"> 4
                                </label>
                                <label class="btn btn-default col-md-2" id="score_five">
                                    <input type="checkbox" autocomplete="off"> 5
                                </label>


                                <label class="col-md-2 btn btn-default active" id="action" >
                                    <input type="checkbox" autocomplete="off" checked="checked" id='actionCheck'> Action
                                </label>
                                <label class="btn btn-default col-md-2" id="adventure">
                                    <input type="checkbox" autocomplete="off" id='adventureCheck'> Adventure
                                </label>
                                <label class="btn btn-default col-md-2" id="animation">
                                    <input type="checkbox" autocomplete="off" id='animationCheck'> Animation
                                </label>
                                <label class="col-md-2 btn btn-default" id="children">
                                    <input type="checkbox" autocomplete="off" id='childrenCheck'> Children's
                                </label>
                                <label class="btn btn-default col-md-2" id="comedy">
                                    <input type="checkbox" autocomplete="off" id='comedyCheck'> Comedy
                                </label>
                                <label class="btn btn-default col-md-2" id="crime">
                                    <input type="checkbox" autocomplete="off" id='crimeCheck'> Crime
                                </label>
                                <label class="col-md-2 btn btn-default" id="documentary">
                                    <input type="checkbox" autocomplete="off" id='documentaryCheck'> Documentary
                                </label>
                                <label class="btn btn-default col-md-2" id="drama">
                                    <input type="checkbox" autocomplete="off" id='dramaCheck'> Drama
                                </label>
                                <label class="btn btn-default col-md-2" id="fantasy">
                                    <input type="checkbox" autocomplete="off" id='fantasyCheck'> Fantasy
                                </label>
                                <label class="col-md-2 btn btn-default" id="filmNoir">
                                    <input type="checkbox" autocomplete="off" id='filmNoirCheck'> Film-Noir
                                </label>
                                <label class="col-md-2 btn btn-default" id="horror">
                                    <input type="checkbox" autocomplete="off" id='horrorCheck'> Horror
                                </label>
                                <label class="btn btn-default col-md-2" id="musical">
                                    <input type="checkbox" autocomplete="off" id='musicalCheck'> Musical
                                </label>
                                <label class="btn btn-default col-md-2" id="mystery">
                                    <input type="checkbox" autocomplete="off" id='mysteryCheck'> Mystery
                                </label>
                                <label class="col-md-2 btn btn-default" id="romance">
                                    <input type="checkbox" autocomplete="off" id='romanceCheck'> Romance
                                </label>
                                <label class="btn btn-default col-md-2" id="sciFi">
                                    <input type="checkbox" autocomplete="off" id='sciFiCheck'> Sci-Fi
                                </label>
                                <label class="btn btn-default col-md-2" id="thriller">
                                    <input type="checkbox" autocomplete="off" id='thrillerCheck'> Thriller
                                </label>
                                <label class="btn btn-default col-md-2" id="war">
                                    <input type="checkbox" autocomplete="off" id='warCheck'> War
                                </label>
                                <label class="btn btn-default col-md-2" id="western">
                                    <input type="checkbox" autocomplete="off" id='westernCheck'> Western
                                </label>
                            </div>
                            <div class="btn-group col-md-12" data-toggle="buttons">
                               <label class="col-md-6 btn btn-default active" id="gender" >
                                <input type="radio" autocomplete="off" checked="checked" id='genderCheck'> Gender
                            </label>
                            <label class="btn btn-default col-md-6" id="occupation">
                                <input type="radio" autocomplete="off" id='occupationCheck'> Occupation
                            </label>
                        </div>
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6" >
                            <div class="col-md-6 selectContainer">
                                <select id="occupationSelector1" class="form-control">
                                    <option value=""></option>
                                    <option value="administrator">Administrator</option>
                                    <option value="artist">Artist</option>
                                    <option value="doctor">Doctor</option>
                                    <option value="educator">Educator</option>
                                    <option value="engineer">Engineer</option>
                                    <option value="entertainment">Entertainment</option>
                                    <option value="executive">Executive</option>
                                    <option value="healthcare">Healthcare</option>
                                    <option value="homemaker">Homemaker</option>
                                    <option value="lawyer">Lawyer</option>
                                    <option value="librarian">Librarian</option>
                                    <option value="marketing">Marketing</option>
                                    <option value="none">None</option>
                                    <option value="other">other</option>
                                    <option value="programmer">Programmer</option>
                                    <option value="retired">Retired</option>
                                    <option value="salesman">Salesman</option>
                                    <option value="scientist">Scientist</option>
                                    <option value="student">Student</option>
                                    <option value="technician">Technician</option>
                                    <option value="writer">Writer</option>
                                </select>
                            </div>
                            <div class="col-md-6 selectContainer">
                                <select id="occupationSelector2" class="form-control">
                                    <option value=""></option>
                                    <option value="administrator">Administrator</option>
                                    <option value="artist">Artist</option>
                                    <option value="doctor">Doctor</option>
                                    <option value="educator">Educator</option>
                                    <option value="engineer">Engineer</option>
                                    <option value="entertainment">Entertainment</option>
                                    <option value="executive">Executive</option>
                                    <option value="healthcare">Healthcare</option>
                                    <option value="homemaker">Homemaker</option>
                                    <option value="lawyer">Lawyer</option>
                                    <option value="librarian">Librarian</option>
                                    <option value="marketing">Marketing</option>
                                    <option value="none">None</option>
                                    <option value="other">other</option>
                                    <option value="programmer">Programmer</option>
                                    <option value="retired">Retired</option>
                                    <option value="salesman">Salesman</option>
                                    <option value="scientist">Scientist</option>
                                    <option value="student">Student</option>
                                    <option value="technician">Technician</option>
                                    <option value="writer">Writer</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div id='bipartiteCanvas' >
                        <h1>Loading Data...</h1>
                        <h1>Amazing things come to those who wait :)</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="leftContainer" class="col-md-6">
            <div id="leftTopContainer" class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Pie Chart View for Movie {{movieId}}
                    </div>
                    <div class="panel-body" id='moviePieChartContainer'>
                        <div class='col-md-5' id='pieChart3'>
                        </div>
                        <div class='col-md-7' id='MovieDescriptionList'>
                            <dl class="dl-horizontal" id="listTable">
                            <dt>Movie Title</dt>
                              <dd>{{movieTitle}}</dd>
                              <dt>Movie Release Date</dt>
                              <dd>{{movieReleaseDate}}</dd>
                              <dt>Movie Genre</dt>
                              <dd>{{movieGenre}}</dd>
                          </dl>
                      </div>
                      <div class='col-md-6' id='pieChart4'>
                      </div>
                      <div class='col-md-6' id='pieChart5'>
                      </div>
                  </div>
              </div>
          </div>
           <!--  <div id="leftBottomContainer" class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Word Cloud View
                    </div>
                </div>
            </div> -->
        </div>
        <div id="rightContainer" class="col-md-6">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Pie Chart View for User {{selectedId}}
                    </div>
                    <div class="panel-body" id="rightTopContainer">
                        <div class="col-md-12">
                            <div class='col-md-6' id='pieChart1'>
                            </div>
                            <div class='col-md-6' id='pieChart2'>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="rightBottomContainer" class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Map View for Movie {{movieId}}
                    </div>
                    <div class="panel-body" id='mapContainer'>
                    <!-- <div class="btn-group col-md-12" data-toggle="buttons">
                    <label class="col-md-2 btn btn-default" id="map_score_one">
                                <input type="checkbox" autocomplete="off"> 1
                                </label>
                                <label class="btn btn-default col-md-2" id="map_score_two">
                                    <input type="checkbox" autocomplete="off"> 2
                                </label>
                                <label class="btn btn-default col-md-2" id="map_score_three">
                                    <input type="checkbox" autocomplete="off"> 3
                                </label>
                                <label class="btn btn-default col-md-2" id="map_score_four">
                                    <input type="checkbox" autocomplete="off"> 4
                                </label>
                                <label class="btn btn-default col-md-2" id="map_score_five">
                                    <input type="checkbox" autocomplete="off"> 5
                                </label>
                    </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div id="bottomContainer" class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Bar Chart View</div>
            </div>
        </div>
    </div> -->
</div>
</template>
